.card {
  cursor: pointer;
  width: 31.33%;
  height: 200px;
  margin: 0 1% 32px;
  img {
    width: 100%;
    height: calc(100% - 2em);
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
    outline: 2px solid #f8f8f8;
    outline-offset: -4px;
  }
  p {
    height: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
  }
  &:hover {
    img {
      opacity: 0.7;
    }
  }
}
