.header {
  position: relative;
  width: 100%;
  height: calc(100vh - 32px);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('http://w.themedemo.co/coca-html/assets/images/banner-05.jpg');

  .header-menu {
    position: sticky;
    top: 0;
    left: 0;

    width: 100%;
    height: 150px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 0 32px;
    transition: all 0.25s ease-in-out;
    .logo {
      width: 150px;
      height: 150px;
    }

    &.fixed {
      color: #000;
      background-color: #fff;
    }
  }
}
