#home {
  .section {
    padding: 56px 48px;
  }
  .idea {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h3 {
      flex: 0 1 33%;
      font-weight: bold;
      font-size: 2em;
    }
    p {
      flex: 1;
      padding-left: 8%;
      font-family: 'PT Serif', serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
    }
  }
}

@media screen and (max-width: 425px) {
  #home {
    .idea {
      flex-flow: row wrap;
      h3 {
        flex-basis: 100%;
        margin-bottom: 8px;
      }
      p {
        padding-left: 0;
        margin-top: 8px;
      }
    }
  }
}
