#home {
  .section {
    padding: 56px 48px;
  }
  .idea {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: rgba(56, 60, 80, 0.8);
    h3 {
      flex: 0 1 33%;
      font-weight: bold;
      font-size: 2em;
    }
    p {
      flex: 1;
      padding-left: 8%;
      font-family: 'PT Serif', serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
    }
  }
}
